$colors: (
  blue1: hsl(230  76% 59% / 100%),
  blue2: hsl(230  91% 73% / 100%),
  blue3: hsl(204  94% 68% / 100%),
  blue4: hsl(230  100% 91% / 100%),
  blue5: hsl(230  86% 97% / 100%),
  dark1: hsl(230  31% 31% / 100%),
  dark2: hsl(231  33% 34% / 100%),
  dark3: hsl(231  26% 52% / 100%),
  dark4: hsl(224  20% 49% / 100%),
  orange1: hsl(14  83% 74% / 100%),
  purple1: hsl(282  83% 52% / 100%),
  purple2: hsl(282  90% 66% / 100%),
  white1: hsl(0  0% 100% / 100%),
  white2: hsl(230  60% 98% / 100%),
  white3: hsl(231  100% 97% / 100%),
  red1: hsl(0  67% 53% / 100%),
  red2: hsl(0  69% 72% / 100%),
);